/*  pink: #D1026C;
    orange: #ea7432;
    yellow: #F2D43F;
    green: #61C155;
    blue: #048091;
    purple: #492D61;
*/

/* GLOBAL STYLES
-------------------------------------------------- */

.features-circle {
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px auto;
  border-width: 3px;
  border-style: solid;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.features-circle.green {
  border-color: #61C155;
}
.features-circle.yellow {
  border-color: #F2D43F;
}
.features-circle.purple {
  border-color: #492D61;
}

.pink {
  color: #D1026C;
}

.yellow {
  color: #F2D43F;
}

.green {
  color: #61C155;
}

.purple {
  color: #492D61;
}

.features-circle-icon {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  font-size: 60px;
  display: table;
  transition: all 0.3s ease;
}

.features-circle-icon i {
  display: table-cell;
  vertical-align: middle;
}

.text-contrast {
	color: #fff;
  text-decoration: underline;
}

.text-contrast:hover {
	color: #80c0ff;
}

div.brand > img {
	width: auto;
	height: 200px;
}

.intro {
  background: #048091;
  margin-bottom: 40px;
}

.banner-color {
  background: #048091;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
}

.intro-info {
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  padding: 20px 0;
  position: relative;
  top: 0;
  z-index: 10;
  background-image: url('../images/bridge.jpg');
  background-size: 100%;
  background-position: center;
}

/* Padding below the footer and lighter body text */

body {
  padding-top: 65px;
  color: #5a5a5a;
}

a {
  color: #ea7432;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-default .navbar-brand {
  color: #ea7432;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: #ea7432;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ea7432;
}

/* Information
-------------------------------------------------- */

.information {
  padding-bottom: 40px;
}
/* Center align the text within the three columns below the carousel */
.information .col-lg-4 {
  margin: 70px 0;
  text-align: center;
}
.information h2 {
  font-weight: normal;
}
.information .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */

  /* rainbow styles via http://codepen.io/monstersaurous/pen/JKAHa :) */

  border: none;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
  background-image: -moz-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
  background-image: -ms-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
  background-image: -o-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
}

.events {
  color: #fff;
  background-color: #048091;
  padding: 50px 0;
  background-image: url('../images/park.jpg');
  background-size: 100%;
  background-position: center;
}

.events h2 {
  margin-top: 0;
}
.events h3 {
  margin-bottom: 30px;
}
.events .students,
.events .mentors {
  padding: 20px;
  border-radius: 20px;
  background-color: #000;
  opacity: 0.75;
}


/* Footer
------------------------- */
footer {
  font-size: 12px;
  color: #888;
  margin-top: 50px;
}

.to-top {
  margin-top: 11px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .hero-image {
    background-size: 100%;
    min-width: 100%;
  }
}
