<div class="next-event">
  <h1>Upcoming Event</h1>
  <p><time datetime="{{events.0.date}}">Saturday, January 28th</time></p>
  <p>location: {{events.0.location}}</p>
  <a href="{{events.0.registerLinks.student}}" class="button register">register student</a>
</div>
<a class="big-ol-register-button" href="{{events.0.registerLinks.student}}">register!</a>
