@media (min-width: 870px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .section__content {
    width: 830px;
    margin: 0 auto;
    padding: 0 0 0 190px;
  }

  .header {
    font-size: 16px;
  }

  .header__identification {
    position: absolute;
    top: 0;
    left: 0;
  }

  .header__logo-text__nodeschool,
  .header__logo-text__oakland {
    display: block;
  }

  .header__introduction {
    padding: 33px 0 0 0;
  }
}
