/* Colors */

$color-desert-sand: #f2e2c9;
$color-nodeschool-blue: #2d5d81;
$color-dark-sky-blue: #94bbd7;
$color-international-orange: #c54e45;
$color-off-white: rgb(247, 247, 247);
$color-lavender: #be99dd;
$color-drop-shadow: rgba(0, 0, 0, 0.25);

/* Width */

$logo-width: 140px;
