/* Colors */

$color-desert-sand = #F2E2C9;
$color-nodeschool-blue = #2D5D81;
$color-dark-sky-blue = #94BBD7;
$color-international-orange = #C54E45;
$color-off-white = rgb(247, 247, 247);
$color-lavender = #BE99DD;
$color-drop-shadow = rgba(0, 0, 0, 0.25);
